.widget {
    // display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 130px;
    // background-color: #d2ebccd3;
    font-family: montserrat;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .title {
            font-weight: 500;
            font-size: 18px;
            color: #363062ab;
            text-align: center;
            margin-bottom: 30px;
        }

        .counter {
            font-weight: 700;
            font-size: 26px;
            text-align: center;
            color: #363062;
        }
    }
}