.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #68A7AD;
  position: sticky;
  top: 0;
  padding: 0 5%;
  z-index: 999;

  .brand {
    color: white;
    justify-self: start;
    margin-left: 20px;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: montserrat;
    font-weight: bold;
  }

  .menu {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 3rem;
  }

  li {
      list-style: none;
      font-size: 18px;

      &#active {
          a {
              color: black;
          }
      }
  }

  a {
      text-decoration: none;
      color: white;

      &:hover {
          color: black;
      }
  }

  .toggler {
      cursor: pointer;
      display: none;

      div {
          width: 25px;
          height: 3px;
          margin: 5px;
          background: #888;
          transition: 0.3s ease-in-out;

      }

  }

  .toggle {

      .line1 {
          transform: rotate(-45deg) translateY(11px);
      }

      .line3 {
          transform: rotate(45deg) translateY(-12px);
      }

      .line2 {
          opacity: 0;
      }

      // .line1 {
      //     transform: rotate(-45deg) translate(-7px, 5px);
      // }

      // .line3 {
      //     transform: rotate(45deg) translate(-6px, -5px);
      // }

      // .line2 {
      //     opacity: 0;
      // }
  }


  @media screen and (max-width: 768px) {

      .toggler {
          display: block;
      }

      .menu {

          a {
              color: white;
          }
      }

      .active {
          transform: translateX(0);

          background-color: #6daffe;
      }

      &.active {
          background: #6daffe;

          a {
              color: white;
          }

          .toggler {
              div {
                  background-color: white;
              }
          }
      }
  }

}