.list {
    padding: 10px;

    .reset {
        border-radius: 4px;
        // padding: 3px;
        color: #888;
        background-color: white;
        cursor: pointer;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
        border: 0.5px solid lightgray;
        align-items: center;

        &:hover {
            border: 0.5px solid black;
        }

    }
}

.tabel {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}